*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1612476453882.jpg);
    height: 100vh;
    background-size: 100%;
    background-position: center;
}
ul{
    float:right;
    list-style-type: square;
    margin-top: 38px;
}
ul li{
    display:inline;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
}
ul h1{
    text-decoration: none;
    color: #fff;
    padding: 1px 20px;
}
ul p{
    text-decoration: none;
    color: #fff;
    padding: 1px 20px;
}
.name{
    
    max-width: 1200px;
    margin: auto;
    position: absolute;
    top: 48px;
    left: 100px;
}
.name h1{
    color: rgba(255, 255, 255, 0.788);
    font-size: 30px;
}
.main{
    max-width: 1200px;
    margin: auto;
    position: absolute;
    top: 26px;
    right: 100px;
}
.alt ul{
    float: left;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: rgba(199, 198, 198, 0.5);
    font-size: 70px;
}