<!DOCTYPE html>
<html>
    <head>
        <title>Temirlan Rsanov</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header>
            <div class="alt">
                <ul>
                    <h1>
                        Education
                    </h1>
                    <p>Currently I am studying in Nazarbayev University and about to get my Bachelor's degree as I am senior student.</p>
                    <p>Before going for university I studied in KTL, which is a specialized school for gifted boys officially, but i don't think I'm somehow gifted :P</p>
                    <p>In school I was a successful student, but university got me screwed.</p>
                </ul>
            </div>
            <div class="title">
                <h1>ABOUT ME</h1>
            </div>
        </header>
    </body>
</html>