<!DOCTYPE html>
<html>
    <head>
        <title>Temirlan Rsanov</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header>
            <div class="alt">
                <ul>
                    <h1>
                        Experience
                    </h1>
                    <p>I don't have huge experience in my life neither in mental nor career ways, and there's so much I need to do.</p>
                    <p>However I had several job places which gave me some sort of experience so I have brief view of what's going on there.</p>
                    <p>At the age of 18 I worked as supervisor or guide for childred in the camp place. It was my first job so I was shocked how unfair things can be.</p>
                    <p>When I was studying in university I realized that I need money for all my spendings, so I got part-time job as a maths teacher.</p>
                    <p>This job is what I am doing still and I plan to keep it before I get a real job with decent salary.</p>
                </ul>
            </div>
            <div class="title">
                <h1>ABOUT ME</h1>
            </div>
        </header>
    </body>
</html>