<!DOCTYPE html>
<html>
    <head>
        <title>Temirlan Rsanov</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header>
            <div class="alt">
                <ul>
                    <h1>
                        Hi! My name is Temirlan Rsanov.
                    </h1>
                    <p>I was born in Taraz, in Kazakhstan. I am 22 years old at the moment and I am a senior student Nazarbayev University.</p>
                    <p>I love singing, drawing and everything related with art and music. I would gladly become an artist, but unfortunately I chose wrong path in the past. :(</p>
                    <p>Other than that I love studying psychology and I think I'm good at this. Possibly will go for PhD in Psychology.</p>
                    <p>Also I have some songs I wrote and performed myself, so if you are interested DM me :)</p>
                </ul>
            </div>
            <div class="title">
                <h1>ABOUT ME</h1>
            </div>
        </header>
    </body>
</html>